* {
    margin: 0;
    padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
    overflow-x: hidden;
    position: relative;
}

body {
    font-family: $font-family;
    font-weight: 400;
    line-height: 28px;
    color: $body_color;
    font-size: 14px;
    // background-color: $lighter;
}
