#productDetailOverlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 6rem;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 2;
    border-radius: 10px;
    animation: overlay 0.3s;
    overflow: scroll;


    #close {
        color: #ffffffbc;
        position: fixed;
        top: 14%;
        right: 12%;
        z-index: 99999;
        display: none;
        font-weight: 400;
        font-size: xx-large;
        cursor: pointer;
    }

    #pic-1 {
        height: 550px;
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
    }

    #pic-1 img {
        border-radius: 10px;
        width: 80%;
        margin: 0 auto;
    }

    span.fa-heart {
        font-size: 2rem;
        vertical-align: middle;
        color: red;
        padding-left: 5px;
    }

    span.fa-heart:hover {
        scale: 1.2;
        transition: all 0.5s ease-in;
    }

    button.mua-ngay {
        background-color: rgb(233, 59, 59);
        font-weight: 500;
    }

    #addToCart {
        border: #fff solid 1px;
        padding: 0.7rem 1rem;
        border-radius: 0.25rem;
        font-size: larger;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000000;
            transition: all 0.5s;
        }
    }
}



@media screen and (max-width: 768px) {
    #productDetailOverlay {
        .preview {
            height: 400px;
        }

        .details{
            margin-top:5rem ;
        }
    }
    
}

@keyframes overlay {
    73% {
        opacity: 0.8;
    }

    75% {
        opacity: 1;
    }
}
