#productDetailOverlay {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    /* top: 0; */
    left: 0;
    right: 0;
    /* bottom: 0; */
    background-color: #000000;
    z-index: 9999999;
    /* cursor: pointer; */
    border-radius: 10px;
    animation: overlay 0.3s;
    /* transition: all .3s ease-out; */
    overflow: scroll;

    /* @media screen and (max-width:992px) {
    #productDetailOverlay {
      
    }
    .preview {
      
    }
    .product-item .product-title{
      font-size: 10px;
    }
  } */

    /* #productDetailOverlay::before{
    content: 'x';
    position: absolute;
    color: #ffffffbc;
    top:10px ;
    right: 20px;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
  } */
    #close {
        color: #ffffffbc;
        position: fixed;
        top: 14%;
        right: 12%;
        z-index: 99999;
        display: none;
        font-weight: 400;
        font-size: xx-large;
        cursor: pointer;
    }

    #pic-1 {
        /* width: ; */
        height: 550px;
        display: flex;
        /* flex-direction: row; */
        justify-content: center;
        align-items: center;
    }

    #pic-1 img {
        border-radius: 10px;
        /* background-color: rebeccapurple; */
        /* height: 100%; */
        width: 80%;
        margin: 0 auto;
    }

    span.fa-heart {
        font-size: 2rem;
        vertical-align: middle;
        color: red;
        padding-left: 5px;
    }

    span.fa-heart:hover {
        scale: 1.2;
        transition: all 0.5s ease-in;
    }

    button.mua-ngay {
        background-color: rgb(233, 59, 59);
        font-weight: 500;
    }

    #addToCart {
        border: #fff solid 1px;
        padding: 0.7rem 1rem;
        border-radius: 0.25rem;
        font-size: larger;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: #000000;
            transition: all 0.5s;
        }
    }
}



@media screen and (max-width: 768px) {
    #productDetailOverlay {
        .preview {
            height: 400px;
        }

        .details{
            margin-top:5rem ;
        }
    }
    /* .product-item .product-title{
      font-size: medium;
    } */
}

@keyframes overlay {
    73% {
        opacity: 0.8;
    }

    75% {
        opacity: 1;
    }
}
