<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Quản lý sản phẩm</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- MY CSS -->
  <link rel="stylesheet" href="../../assets/css/main.css">
  <style>
    #spinner {
      width: 100%;
      height: 100%;
      position: fixed;
      background: #000;
      z-index: 99;
      display: none;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>

<body>
  <div id="spinner">
    <div class="spinner-border text-warning" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="container">
    <nav class="navbar fixed-top text-white navbar-light" style="background-color: #3b5d50;">
      <div class="">
        <div class="container d-flex gap-2">
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon float-left"></span>
          </button>
          <a class="navbar-brand text-white" href="../../index.html" target="_blank"><strong>Phone.</strong></a>

        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" style="color: #3b5d50; font-size: 2rem; " id="offcanvasNavbarLabel"><b>Phone store.</b></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body " style="background-color: #3b5d50;">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link text-white" style="" aria-current="page" href="#"><span id="btnThemSP" class="" data-toggle="modal"
                    data-target="#myModal">
                    <!-- <i class="fa fa-plus mr-1" style="border-radius: 5px;
               padding: 1rem; background-color: #3b5d50;color: #fff;"></i> -->
                    <i class="fa-solid fa-square-plus"></i>

                    Thêm mới sản phẩm
                  </span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">
                  <i class="fa-solid fa-table-list"></i>
                  Bảng danh sách </a>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </nav>
    <!-- Phan tab menu -->
    <!-- <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#DanhSachSP" role="tab" data-toggle="tab">Danh sách sản phẩm</a>
      </li>

    </ul>
    <br /> -->
    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 5rem;">
      <!--Danh sách sản phẩm -->
      <div role="tabpanel" class="tab-pane  in active" id="DanhSachSP">
        <div class="row ">
          <div class="btn-filter w-100 col-md-12 d-flex gap-2" style="">
            <!-- BEGIN BUTTOM THÊM MỚI -->
            <button id="btnThemSP" class="btn button btn-add" title="Thêm mới" data-toggle="modal" data-target="#myModal">
              <i class="fa fa-plus mr-1"></i>

            </button>
            <!-- END BUTTON THÊM MỚI -->
            <select name="" id="sort" title="Sort" onchange="sortByPrice()" class="custom-select">
              <option value="sx" class="form-control">Sắp xếp theo giá</option>
              <option value="tang" class="form-control">Tăng dần</option>
              <option value="giam" class="form-control">Giảm dần</option>
            </select>


            <!-- BEGIN TÌM KIẾM -->
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Tìm kiếm theo tên" aria-label="Recipient's username"
                aria-describedby="basic-addon2" id="txtSearch" />
              <div class="input-group-append">
                <span class="input-group-text button" id="basic-addon2" onclick="searchProductByName()"><i
                    class="fa fa-search"></i></span>
              </div>
            </div>
            <!-- END TÌM KIẾM -->
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="tblSanPham" id="tblSanPham">
          <!-- BEGIN TABLE SẢN PHẨM -->
          <table class="table table-bordered table-responsive table-dark table-hover" style="margin-top: 4rem;">
            <thead class="text-center text-white" style="font-size: larger; background-color: #3b5d50;">

              <th>ID</th>
              <th>Tên Sản Phẩm</th>
              <th>Giá</th>
              <th>Màn hình</th>
              <th>Camera trước</th>
              <th>Camera sau</th>
              <th>Hình Ảnh</th>
              <th>Mô Tả</th>
              <th>Loại</th>
              <th>Action</th>
            </thead>
            <tbody id="tblDanhSachSP"></tbody>
          </table>
          <!-- END TABLE SẢN PHẨM -->
        </div>
        <br />
      </div>
      <!-- Kết thúc danh sách sản phẩm -->
    </div>

    <!--KetThuc Tabmenu-->

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Thêm mới sản phẩm</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label>Mã Sản Phẩm</label>
              <input id="id" sr-only class="form-control" placeholder="" readonly />
            </div>
            <div class="form-group">
              <label>Tên Sản Phẩm</label>
              <input id="name" class="form-control" placeholder="" />
              <span id="spName" class="alert text-danger"></span>

            </div>
            <div class="form-group">
              <label>Giá</label>
              <input id="price" class="form-control" placeholder="Nhập vào giá" />
              <span id="spPrice" class="alert text-danger"></span>

            </div>
            <div class="form-group">
              <label>Kích thước màn hình (inch)</label>
              <input id="screen" class="form-control" placeholder="" />
              <span id="spSizeScreen" class="alert text-danger"></span>

            </div>
            <div class="form-group">
              <label>Camera trước (Mega pixel)</label>
              <input id="frontCamera" class="form-control" placeholder="" />
              <span id="spfrontCamera" class="alert text-danger"></span>

            </div>
            <div class="form-group">
              <label>Camera sau (Mega pixel)</label>
              <input id="backCamera" class="form-control" placeholder="" />
              <span id="spbackCamera" class="alert text-danger"></span>

            </div>
            <div class="form-group">
              <label>Hình ảnh (Link)</label>
              <input id="img" class="form-control" placeholder="" />
              <span id="spImg" class="alert text-danger"></span>
            </div>
            <div class="form-group">
              <label>Mô tả</label>
              <input id="desc" class="form-control" placeholder="" />
              <span id="spDesc" class="alert text-danger"></span>
            </div>
            <div class="form-group">
              <label for="">Loại sản phẩm: </label>
              <select class="form-control" id="type" title="">
                <option value="-1">Loại sản phẩm</option>
                <option value="iphone">Iphone</option>
                <option value="samsung">Samsung</option>
              </select>
              <span id="spType" class="alert text-danger"></span>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button class="btn btn-danger" onclick="reset()">Reset</button>
            <button class="btn btn-dark" onclick="updateProduct()">Update</button>
            <button class="btn btn-success" onclick="addProduct()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="container"></div>
  <style>
    #container {
      min-width: 310px;
      max-width: 800px;
      height: 400px;
      margin: 0 auto;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <!-- AXIOS  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
    integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- VALIDATION -->
  <script src="../util/validation.js"></script>
  <!-- MODEL -->
  <script src="../models/Product.js"></script>

  <!-- services -->
  <script src="../services/productsServ.js"></script>

  <!-- controllers -->
  <script src="../controllers/controller.js"></script>

  <!-- MAIN  -->
  <script src="../main.js"></script>
</body>

</html>